# Dev
.idea
~/*
.env
/config.yaml

# Server
/build/
/deploy/psql/hash_password

# Production
/dist/
.release_notes

# Debian
/debian/**/*debhelper*
/debian/vaulthalla-server
/debian/vaulthalla.substvars
/debian/files
