# Dev
.idea
~/*
.env
/config.yaml

# Server
/build/
/deploy/psql/hash_password
/deploy/psql/

# Production
/dist/

# Debian
/debian/**/*debhelper*
/debian/vaulthalla-server
/debian/vaulthalla-server.substvars
/debian/files
