[Unit]
Description=Vaulthalla control socket

[Socket]
ListenStream=/run/vaulthalla/cli.sock
SocketUser=vaulthalla
SocketGroup=vaulthalla
SocketMode=0660
DirectoryMode=0710
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
