[Unit]
Description=Vaulthalla FUSE Filesystem

[Service]
User=vaulthalla
Group=vaulthalla
ExecStart=/usr/local/bin/vaulthalla/fuse_daemon
Restart=on-failure
RestartSec=3
SyslogIdentifier=vaulthalla-fuse
WorkingDirectory=/mnt/vaulthalla
RuntimeDirectory=vaulthalla
RuntimeDirectoryMode=755

[Install]
WantedBy=multi-user.target
