[Unit]
Description=Vaulthalla Core Daemon
After=network.target
Requires=postgresql.service
Requires=vaulthalla-fuse.service
After=vaulthalla-fuse.service

[Service]
User=vaulthalla
Group=vaulthalla
ExecStart=/usr/local/bin/vaulthalla/core_daemon
Restart=on-failure
RestartSec=3
LimitNOFILE=65535
SyslogIdentifier=vaulthalla-core
WorkingDirectory=/var/lib/vaulthalla

[Install]
WantedBy=multi-user.target
