Source: vaulthalla-server
Section: utils
Priority: optional
Maintainer: Cooper Larson <cooper@valkyrianlabs.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkg-config,
 libmagic-dev,
 libpqxx-dev,
 libpdfium-dev,
 libsodium-dev,
 libcurl4-openssl-dev,
 uuid-dev,
 libfuse3-dev,
 libyaml-cpp-dev,
 libpugixml-dev,
 libgtest-dev,
 libboost-filesystem-dev,
 libboost-system-dev
Standards-Version: 4.6.2
Homepage: https://github.com/vaulthalla/server
#Vcs-Browser: https://salsa.debian.org/debian/vaulthalla
#Vcs-Git: https://salsa.debian.org/debian/vaulthalla.git

Package: vaulthalla-server
Architecture: any
Multi-Arch: foreign
Depends:
 adduser,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Self-hosted cloud platform with native FUSE and S3 sync
 Vaulthalla is a modern self-hosted cloud storage platform designed as
 a high-performance alternative to Nextcloud. It features a C++ core
 daemon, native Linux filesystem via FUSE, S3-compatible object storage,
 PostgreSQL indexing, and a secure web frontend. Vaulthalla emphasizes
 speed, sovereignty, and deep system integration for power users.
