name: C++ CI Build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build:
    runs-on:
      - self-hosted
      - Linux
      - X64
      - ubuntu-latest-lts
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/runner
        with:
          release: 'true'
